<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Article Details</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/article/article.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="card bg-dark text-light">
        <div class="card-body">
            <h1 class="article-title" th:text="${article.title}"></h1>
            <p class="text-muted">Published on <span
                    th:text="${#temporals.format(article.publishedDate, 'yyyy-MM-dd')}"></span></p>
            <div class="article-content">
                <p th:text="${article.content}"></p>
            </div>

            <!-- Like Button -->
            <div class="d-flex align-items-center">
                <form th:action="@{/article/like}" method="post">
                    <input type="hidden" th:value="${article.id}" id="id" name="id">
                    <button type="submit" class="btn btn-primary like-btn">
                        <span th:if="${liked}" class="text-success">Liked</span>
                        <span th:if="${!liked}" class="text-white">Like</span>
                    </button>
                </form>
                <span th:text="'Likes: ' + ${article.likes.size()}"></span>
            </div>

            <a href="/home" class="btn btn-secondary">Back to Articles</a>
        </div>
    </div>

    <!-- Comments Section -->
    <div class="comments-section">
        <h2>Comments</h2>
        <p th:if="${article.comments.size()}==0">Be the first one to comment here!</p>
        <div th:each="comment : ${article.comments}">
            <div class="comment">
                <p class="comment-author" th:text="${comment.user.firstName + ' ' + comment.user.lastName}"></p>
                <p class="comment-text" th:text="${comment.text}"></p>
                <p class="text-muted" th:text="${#temporals.format(comment.createdAt.toLocalDateTime(), 'yyyy-MM-dd HH:mm')}"></p>
            </div>
        </div>

        <!-- Comment Form -->
        <form th:if="${logged}" th:action="@{/article/comment}" method="post">
            <input type="hidden" th:value="${article.id}" name="id">
            <div class="form-group">
                <label for="comment">Comment:</label>
                <textarea class="form-control" id="comment" name="text" rows="3" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit Comment</button>
        </form>
        <p th:if="${!logged}">You should <a th:href="@{/login}">sign in</a> to be able to comment!</p>
    </div>
</div>
</body>
</html>
