<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Article</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/article/add-article.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1 class="my-4">Add New Article</h1>
    <form th:action="@{/article/update}" th:object="${article}" th:method="post">
        <input type="hidden" th:value="${article.id}" id="id" name="id">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" th:field="*{title}" th:value="${article.title}" name="title" placeholder="Enter title" required>
            <span th:if="${#fields.hasErrors('title')}"
                  th:errors="*{title}"
                  class="text-bg-danger"></span>
        </div>
        <div class="form-group">
            <label for="content">Content</label>
            <textarea class="form-control" id="content" name="content" th:field="*{content}" th:value="${article.content}" rows="5" placeholder="Enter content" required></textarea>
        </div>
        <div class="form-group">
            <label for="publishedDate">Publish Date</label>
            <input type="date" class="form-control" id="publishedDate" th:field="*{publishedDate}" th:value="${article.publishedDate}" name="publishedDate" required>
        </div>
        <button type="submit" class="btn btn-primary">Update Article</button>
        <a href="/dashboard" class="btn btn-secondary">Cancel</a>
    </form>
</div>

<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.4.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
