<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/dashboard.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1 class="my-4">Admin Dashboard</h1>
    <a href="/article/add" class="btn btn-success mb-3">Add New Article</a>

    <table class="table table-dark table-bordered table-striped">
        <thead>
        <tr>
            <th>Title</th>
            <th>Published Date</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="article : ${articles}">
            <td>
                <a th:text="${article.title}" th:href="@{/article/{id}(id=${article.id})}" class="link"></a>
            </td>
            <td th:text="${#temporals.format(article.publishedDate, 'yyyy-MM-dd')}" class="text-bg-info"></td>
            <td>
                <a th:href="@{/article/update(id=${article.id})}" class="btn btn-warning btn-lg mb-3">Update</a>
                <form th:action="@{/article/delete}" method="post" style="display: inline;">
                    <input type="hidden" th:value="${article.id}" id="id" name="id" style="display: inline;">
                    <button type="submit" class="btn btn-danger btn-lg mb-3" onclick="if (!(confirm('Are you sure you want to delete this employee?'))) return false">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="d-flex justify-content-center mt-4">
        <nav aria-label="Page navigation">
            <ul class="page modal-5">
                <li th:classappend="${currentPage == 1} ? 'disabled'">
                    <a href="#" th:href="@{/dashboard(page=${currentPage - 1})}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li th:each="pageNum : ${pageNumbers}"
                    th:classappend="${currentPage == pageNum} ? 'active'">
                    <a th:href="@{/dashboard(page=${pageNum})}" th:text="${pageNum}"></a>
                </li>
                <li th:classappend="${currentPage == totalPages} ? 'disabled'">
                    <a href="#" th:href="@{/dashboard(page=${currentPage + 1})}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
</body>
</html>
